@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background-color: #101020;
  /* color: #fff; */
}

.coin-app {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #f0f0f1;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  color: #f0f0f1;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 40px;
  border-radius: 4px;
  border: 0;
  background-color: #ffffff;
  color: #121212;
  transition: ease;
}

.general-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 999px) {
  .general-container {
    flex-direction: column;
    align-items: center;
  }
}