.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h1 {
   font-size: 15px;
   width: 150px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    width: 100%;
}

.coin-volume {
    width: 100%;
}

.coin-marketcap {
    width: 100%;
}

.coin-percent {
    width: 100%;
    text-align: center;
}

.reds {
    color: rgb(202, 0, 0);
}

.grens {
    color: rgb(5, 116, 5);
}

@media screen and (max-width: 940px) {
    .coin-row {
        flex-direction: column;
        justify-content: space-between;
        width: 700px;
        height: 90px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 572px) {
    .coin-row {
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        height: 90px;
        margin-bottom: 12px;
    }

    .coin-container {
        height: 135px;
        width: 60%;
        margin: auto;
        border-bottom: 1px solid #fff;
    }

    .coin-data {
        flex-wrap: wrap;
        text-align: center;
    }

    .coin {
        justify-content: center;
        padding-right: 0;
    }
}